<div class="text-block clearfix">
	
	<form class="assistance clearfix"> 
		
		<fieldset>
			<label><%= lang.accidentTx%></label>
			<a class="primary-but" href="#request/accident"><%= lang.accidentButTx%></a>
		</fieldset>
		
		<fieldset>
			<label><%= lang.helpTx%></label>
			<a class="primary-but" href="#request/help"><%= lang.helpButTx%></a>
		</fieldset>
		
		<fieldset>
			<label><%= lang.callTx%></label>
			<a class="primary-but" id="phonecall" href="tel:07919411405"><%= lang.callButTx%></a> 
		</fieldset>
		     
	</form> 
	
	<div class="button-area">
		<a class="secondary-but" href="#details">< Back</a>
	</div>
	 
</div>
