<div id="settings">
	<h4>Settings</h4>
	<div class="setting-item clearfix">
		<div class="desc">
			<h5>Geo Tagging</h5>
			<p>Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea.</p>
		</div>
		<div class="switch on">
			<p class="on">
				<span>On</span>
			</p>
			<p class="off">
				<span>Off</span>
			</p>
		</div>
	</div>
	<div class="setting-item clearfix">
		<div class="desc">
			<h5>NFC Invites</h5>
			<p>Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea.</p>
		</div>
		<div class="switch">
			<p class="on">
				<span>On</span>
			</p>
			<p class="off">
				<span>Off</span>
			</p>
		</div>
	</div>
</div>